---
import { Icon } from "astro-icon/components";
import Button from "./Button.astro";
import Badge from "./Badge.astro";

interface ButtonProps {
  text: string;
  icon: string;
  link: string;
  download?: string;
}

const buttonData: ButtonProps[] = [
  {
    text: "Descargar CV",
    icon: "curriculum",
    link: "/public/cv/cv_hugo_daniel_cabral.pdf",
    download: "cv_hugo_daniel_cabral.pdf",
  },
  {
    text: "Contáctame",
    icon: "contact",
    link: "mailto:'danicabral151@gmail.com'",
  },
  {
    text: "Linkedin",
    icon: "linkedin",
    link: "https://www.linkedin.com/in/hugo-daniel-cabral",
  },
];
---

<section id="introduction" class="space-y-4 px-4">
  <div class="flex items-center gap-4">
    <img
      src="/img/avatar-no-background.webp"
      alt="Avatar de Daniel Cabral"
      class="rounded-full size-12 md:size-16 bg-info shadow-md shadow-base-100"
    />
    <a href={buttonData.at(2)?.link} target="_blank" rel="noopener noreferrer">
      <Badge color="success" size="lg">
        <Icon name="available" class="text-black dark:text-white" />
        Disponible para trabajar</Badge
      ></a
    >
  </div>
  <h1
    class="text-3xl md:text-5xl font-bold text-black dark:text-white font-roboto"
  >
    Hola, soy Daniel Cabral
  </h1>
  <p
    class="text-lg md:text-xl text-black dark:text-gray-200 max-w-2xl text-pretty font-nunito"
  >
    <strong class="text-info">Técnico en Programación</strong>. Especializado en
    el desarrollo de aplicaciones web. Siempre estoy en constante aprendizaje.
  </p>

  <div class="flex flex-wrap gap-2">
    {
      buttonData.map((button) => (
        <a
          href={button.link}
          target="_blank"
          rel="noopener noreferrer"
          download={button.download}
        >
          <Button text={button.text}>
            <Icon name={button.icon} class="text-gray-800 dark:text-gray-300" />
          </Button>
        </a>
      ))
    }
  </div>
</section>
