---
import BlogLayout from "./BlogLayout.astro";

interface Props {
  frontmatter: {
    title: string;
    description: string;
    pubDate: number;
    author: string;
    image: {
      url: string;
      alt: string;
    };
    tags: string[];
  };
}

const { frontmatter } = Astro.props;
---

<BlogLayout title={frontmatter.title}>
  <article
    class="prose container max-w-sm sm:max-w-md mx-auto md:max-w-3xl lg:max-w-4xl xl:max-w-5xl p-4 md:p-8 lg:p-12 xl:p-16 my-4 font-nunito md:prose-lg lg:prose-xl xl:prose-2xl text-gray-700 dark:text-gray-300 prose-h1:text-info prose-h2:text-gray-700 dark:prose-h2:text-gray-300 prose-h3:text-gray-700 dark:prose-h3:text-gray-300 prose-h4:text-gray-700 dark:prose-h4:text-gray-300 prose-h5:text-gray-700 dark:prose-h5:text-gray-300 prose-h6:text-gray-700 dark:prose-h6:text-gray-300 prose-strong:text-gray-700 dark:prose-strong:text-gray-300"
  >
    <h1 class="text-2xl">{frontmatter.title}</h1>
    <p class="text-xs md:text-base">
      Fecha de publicación: {new Date(frontmatter.pubDate).toLocaleDateString()}
    </p>
    <img
      src={frontmatter.image.url}
      width="300"
      class="mx-auto"
      alt={frontmatter.image.alt}
    />
    <slot />
    <div class="flex gap-4 items-center">
      <span>Etiquetas:</span>
      <div class="flex gap-2">
        {
          frontmatter.tags.map((tag) => (
            <p class="bg-gray-200 dark:bg-gray-700   px-2 py-1 rounded">
              <a
                href={`/tags/${tag}`}
                class="hover:underline text-gray-500 dark:text-gray-300"
              >
                {tag}
              </a>
            </p>
          ))
        }
      </div>
    </div>
  </article>
  <br />
</BlogLayout>
